body {
    background-color: lightblue;
  }

h1 {
  color: black;
}

.container {
  display: grid;
  padding: 5px;
  gap: 10px;
  width: auto;
  background-color: white;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  
}
.container div {
  border:  10px solid black;
  
}


nav {
  background-color:aliceblue;
  padding-left: 4px;
  border:2px solid black;
}

nav a {
  margin-right:15px;
}

header {
  background-color:turquoise;
  padding-left: 4px;
}

main {
  background-color:navajowhite;
  padding-left: 4px;
  border:3px solid black;
}

footer {
  padding-left: 4px;
  color:black ;
}

.subjects {
  background-color:bisque;
  color: black;
  margin: 20px;
  padding: 20px;
}
.penguin {
  border:30px;
  margin:30px;
}