body {
    background-color: lightblue;
  }

h1 {
  color: black;
}

.container {
  display: grid;
  grid-template-columns: 250px 350px;
  gap: 30px 100px;
  align-content: center;
  border: 10px solid beige;
  border-radius: 6px;
}

.container div {
  background-color: aquamarine;
}

nav {
  background-color:aliceblue;
  padding-left: 4px;
  border:2px solid black;
}

nav a {
  margin-right:15px;
}

header {
  background-color:turquoise;
  padding-left: 4px;
}

main {
  background-color:navajowhite;
  padding-left: 4px;
  border:3px solid black;
}

footer {
  background-color:navy;
  padding-left: 4px;
  color:azure ;
}

.subjects {
  background-color:bisque;
  color: black;
  margin: 20px;
  padding: 20px;
}
.penguin {
  border:30px;
  margin:30px;
}